
tmanga/.classpath
tmanga/.project
tmanga/.settings/.jsdtscope
*.prefs
tmanga/.settings/org.eclipse.wst.common.component
*.xml
tmanga/.settings/org.eclipse.wst.jsdt.ui.superType.container
tmanga/.settings/org.eclipse.wst.jsdt.ui.superType.name
